body {
    margin: auto;
}

#content {
    float:left;
    margin: auto;
    border: 4px double black;
    width: 80%;
    height: 100%;
    padding-top: 10%;
}

A:visited {
    color: black;
}

.navigation {
    float: left;
    max-width: 15%;
    height: 100%;

    background-color: grey;
}

.header-img {
    height: 120px;

    background-color: white;
}

.section {

    background-color: black;
    color: white;
}

.nav-list {
    list-style: none;
}

.posts {
    padding: 5px;
    border-top: double 2px;
    background-color: gainsboro;
}

.comment {
    border: solid gainsboro 1px;
    padding: 5px;
}

