{% extends 'BoardApp/index.html' %}

{% block content %}

			<h3 style="text-align:center;">{{ board.name }}</h3>
			<p style ="text-align:center;">{{ board.title }}</p>
			{% for post in posts %}
                <article class='posts'>
				    <span>
                        <strong>{{ post.title }}</strong>
                        <strong style="color: forestgreen">{{ post.author }}</strong>
                        {{ post.time }}
                    </span>
				<p>{{ post.text }}</p>
                </article>
            {% endfor %}


{% endblock %}
