{% extends 'BoardApp/index.html' %}

{% block content %}



    <h3 style="text-align:center;">{{ board.name }}</h3>
    <p style="text-align:center;">{{ board.title }}</p>
    {% for post in posts %}
        <article class='posts'>
				    <span>
                        <strong>{{ post.title }}</strong>
                        <strong style="color: forestgreen">{{ post.author }}</strong>
                        {{ post.time }}
                        No
                        {{ post.post_id }}
                    </span>
            <p>{{ post.text }}</p>
        <div>
            {% for im in post.image.all %}
                {% if im.image %}
                <p><img src="{{ im.image_thumbnail.url }}" alt="aa"></p>
                {% endif %}
            {% endfor %}
        </div>
        </article>
        {% for comment in comments %}

            {% if comment.father_id == post.post_id %}
                <article class='comment'>
				    <span>
                        <strong>{{ comment.title }}</strong>
                        <strong style="color: forestgreen">{{ comment.author }}</strong>
                        {{ comment.time }}
                        No
                        {{ comment.post_id }}
                    </span>
                    <p>{{ comment.text }}</p>
                    {% for img in comment.image.all %}
                        <p><img src="{{ img.image_thumbnail.url }}" alt=""></p>
                    {% endfor %}
                </article>
            {% endif %}

        {% endfor %}
        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            {% for ff in file_form_list %}
                {{ ff.as_p }}
            {% endfor %}
            <input type="hidden" name="father_id" value="{{ post.post_id }}">
            <button type="submit" class="save btn btn-default" name="new_post">Save</button>

        </form>

    {% endfor %}
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
            {% for ff in file_form_list %}
                {{ ff.as_p }}
            {% endfor %}
        <button type="submit" class="save btn btn-default" name="new_thread">Save</button>
    </form>

{% endblock %}
