<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Board</title>
    <style>
        body{
            height: 950px;
        }
		#content{
            margin: auto;
			border: 4px double black;
			width:70%;
            height: 100%;
            padding-top: 10%;
			}
        .navigation{
            float: left;
			max-width:15%;
            height: 100%;

			background-color:grey;
			}
		.header-img{
			height:120px;

			background-color:white;
			}
		.section{

			background-color:black;
			color:white;
			}

		.nav-list{
			list-style:none;
			}

    </style>
</head>
<body>
	<span>
        <nav class='navigation'>
			<div class='header-img'>
			    <!-- <img style='height:100px;width:100px' src='' /> -->
			</div>
	        <p class='section'>Общее</p>
			<ul class='nav-list'>
			    <li><div><a href='/b'>/b/ - Братство</a></div></li>
			    <li><a href='/u'>/u/ - Университет</a></li>
			    <li><a href='/rf'>/rf/ - Refuge</a></li>
			</ul>
            <p class='section'>Аниме</p>
            <ul class='nav-list'>
			    <li><a href='/a'>/a/ - Аниме</a></li>
			    <li><a href='/ma'>/ma/ - Манга</a></li>
			</ul>
			<p class ='section'>На пробу</p>
			 <ul class='nav-list'>
			    <li><a href='/tv'>/tv/ - Кино</a></li>
			    <li><a href='/cp'>/cp/ - Cp</a></li>
			</ul>

		</nav>
	    <div id='content'>
			 {% block content %}





			 {% endblock %}
        </div>
  </span>
</body>
</html>
